name: Deploy
on:
  push:
    branches:
        - main
    paths-ignore:
        - 'README.md'

jobs:
  deploy-2048:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '14'
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: '${{ secrets.TF_USER_AWS_KEY }}'
          aws-secret-access-key: '${{ secrets.TF_USER_AWS_SECRET }}'
          aws-region: us-east-1
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_wrapper: false
      - name: Terraform Apply
        id:   apply
        run: |
          terraform init
          terraform validate
          terraform plan 
          terraform apply -auto-approve
      - name: Terraform Destroy
        id:   destroy
        run: |
          terraform destroy -auto-approve